
body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  background-color: #ff3f3fb9;
}

/* Center the counter at the top */
.counter-container {
  text-align: center;
  margin-top: 10px;
  padding: 20px;
  background-color: #fed8d8;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #007BFF;
  color: white;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}
